{% extends "main/base.html" %}
{% block heading %}登入{% endblock %}

{% block content %}

	{% if messages %}
	<div>
	    {% for message in messages %}
	    <div{% if message.tags %} class="alert-primary alert"{% endif %}>{{ message }} {{ message.tags }}</div>
	    {% endfor %}
	</div>
	{% endif %}


<form method="post" action="{% url 'account:login' %}">
  {% csrf_token %}
  <p>使用者名稱：<input type="text" name="username"></p>
  <p>密碼：<input type="password" name="password"></p>
  <p><input class="btn" type="submit" value="送出"></p>
</form>
{% endblock %}