{% extends "main/base.html" %}
{% block heading %}題目 --- {{ qu_title }}{% endblock %}

{% block content %}	
<h3>Step2：</h3>

<!-- 使用者輸入 -->
<form action="/step2/qu_step2/" method="post" id="myForm">
  {% csrf_token %}
  <input type="text" id="final_user_input" name="user_input" value="" />
  <button type="button" onclick="submit()" class="btn btn-warning">OK</button>
</form>
  <table>
		<tr><th>Query text: </th><th style="color:orange;">{{ s2_lastone.user_input_text }}</th></tr>

    	<tr><th>Detected intent: </th><th style="color:red;">{{ s2_lastone.detected_intent }}</th></tr>

    	<tr><th>Detected intent confidence: </th><th>{{ s2_lastone.detected_intent_confidence }}</th></tr>

    	<tr><th>Fulfillment text: </th><th style="color:blue;">{{ s2_lastone.chatbot_output_text }}</th></tr>

    	<tr><th>Submit timestamp: </th><th>{{ s2_lastone.timestamp }}</th></tr>
</table>
<button type="button" onclick="submit()" class="btn btn-warning"><a href="/step1/qu_step1">第一步</a></button>
<button type="button" onclick="submit()" class="btn btn-warning"><a href="/step3/qu_step3">第三步</a></button>
{% endblock %}